/.metadata/
/Servers/
.vscode/settings.json

WebClient/src/main/webapp/images/

WebScript/src/main/webapp/img/w3schools.jpg

WebScript/src/main/webapp/img/1.jpg

WebScript/src/main/webapp/img/2.jpg

WebScript/src/main/webapp/img/3.jpg

WebScript/src/main/webapp/img/4.jpg

WebScript/src/main/webapp/img/img_5terre.jpg

WebScript/src/main/webapp/img/img_forest.jpg

WebScript/src/main/webapp/img/img_lights.jpg
